In [7]:
from tabulate import tabulate
headers=["stdid","stdname","Standard","Age","Hindi","English","Maths","Science","Computer","Total"]
student=[
    ["std101","Ashish Kumar","10th",15,67,89,87,89,90,422],
    ["std102","Abhishek Kumar","10th",14,85,45,48,90,45,313],
    ["std103","Aman","10th",15,23,56,78,78,67,302],
    ["std104","Rahul","10th",14,45,67,45,45,56,258],
    ["std105","Ruby","10th",13,89,67,89,93,65,403],
    ["std106","Suman","10th",13,90,46,67,67,67,337],
    ["std107","Saurabh","10th",15,45,23,34,45,34,181],
    ["std108","Sumit","10th",14,23,45,67,78,90,303],
    ["std109","Kamlesh","10th",15,45,56,78,99,67,345],
    ["std110","Rohan","10th",15,34,12,24,45,56,171]
]
student=tabulate(student,headers,tablefmt='grid')
print(student)

+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| stdid   | stdname        | Standard   |   Age |   Hindi |   English |   Maths |   Science |   Computer |   Total |
+=========+================+============+=======+=========+===========+=========+===========+============+=========+
| std101  | Ashish Kumar   | 10th       |    15 |      67 |        89 |      87 |        89 |         90 |     422 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std102  | Abhishek Kumar | 10th       |    14 |      85 |        45 |      48 |        90 |         45 |     313 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std103  | Aman           | 10th       |    15 |      23 |        56 |      78 |        78 |         67 |     302 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std104  | Rahul          | 10th       |    14 |      45 |        67 |      45 |        45 |         56 |     258 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std105  | Ruby           | 10th       |    13 |      89 |        67 |      89 |        93 |         65 |     403 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std106  | Suman          | 10th       |    13 |      90 |        46 |      67 |        67 |         67 |     337 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std107  | Saurabh        | 10th       |    15 |      45 |        23 |      34 |        45 |         34 |     181 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std108  | Sumit          | 10th       |    14 |      23 |        45 |      67 |        78 |         90 |     303 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std109  | Kamlesh        | 10th       |    15 |      45 |        56 |      78 |        99 |         67 |     345 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+
| std110  | Rohan          | 10th       |    15 |      34 |        12 |      24 |        45 |         56 |     171 |
+---------+----------------+------------+-------+---------+-----------+---------+-----------+------------+---------+

In [11]:
#dictionary creation
student={'stdid':'std101','stdname':'Ashish Kumar','Standard':'10th','Age':15}
print(student)

{'stdid': 'std101', 'stdname': 'Ashish Kumar', 'Standard': '10th', 'Age': 15}

In [12]:
#insert an element with key standard
student['Standard'] = '12th'
#insert element with key hindi
student['Hindi'] = 78
#------------------------------------
print(student)

{'stdid': 'std101', 'stdname': 'Ashish Kumar', 'Standard': '12th', 'Age': 15, 'Hindi': 78}